.education-flex-cont{
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
}

.education-flex-cont>*{
    padding: 2em;
}

.education-details{
    display: flex;
    flex-direction: column;
    text-align: left;
}