.App {
    color: rgb(67, 67, 67);
    background-color: rgb(230, 230, 230);
    min-height: 100vh;
}

.App-header {
    position: fixed;
    width: 100%;
    position: -webkit-sticky;
    top: 0;

    z-index: 5;
}

.navbar {
    background-color: #e6e6e6;
    width: auto;
}

.navbar>* {
    padding: 1em;
}

.title{
    font-weight: bolder;
    display: inline;
    color: #0d6efd;
    animation: waves 4s ease-in-out infinite;
}
