.App {
    color: white;
    background-color: rgb(20, 20, 20);
    min-height: 100vh;
}

.App-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar {
    background-color: rgba(20, 20, 20, 0.95);
    box-shadow: 1px 25px 25px rgb(15, 15, 15);
    width: auto;
}

.navbar>* {
    padding: 1em;
}

.title{
    font-weight: bolder;
    display: inline;
    color: #03a9f4;
    animation: waves 4s ease-in-out infinite;
}
