.content-absolute {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content {
    text-align: center;
}

.white-text {
    color: white;
}

.blue-text {
    color: #0d6efd;
}

.green-text{
    color: #198754;
}

.glow-green {
    text-shadow: 0px 0px 64px #198754;
}

.glow-blue {
    text-shadow: 0px 0px 64px #0d6dfd80;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
}

.medium-text {
    font-size: 24px;
    font-weight: bolder;
}

.gray-text {
    color: rgb(111, 111, 111);
}

.bold {
    font-weight: bolder;
}